main {
    height: 100%;
    width: 100%;
    background-color: #2d2d2d;

    section {
        height: 100%;
        width: 100%;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
    }

    .conversation-area {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .messages {
            height: 100%;
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 0.1rem;
            padding-bottom: 4rem;
        }


        .input-area {
            width: 70%;
            position: absolute;
            background-color: #3c3c3c;
            border: 1px solid #3c3c3c;
            border-radius: 0.5em;
            bottom: 2rem;
        }

        input {
            width: 80%;
            padding: 0.5em 0.7em;
            outline: none;
            border-radius: 0.5rem;
            background-color: transparent;
            border: none;
            color: rgb(227, 224, 224);
        }

        button {
            padding: 0.5em 0.7em;
            width: 20%;

            background-color: #161616;
            border-radius: 0.45rem;
            border: none;
            color: white;
            cursor: pointer;
        }
    }
}